<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 별명 설정 -->
		<typeAlias alias="test" type="com.not.why.vo.Member"/>
		<typeAlias alias="test2" type="com.not.why.vo.Member2"/>
	</typeAliases>
</configuration>
	